.card_img{
    display: contents;
    width: max-content;
    height: max-content;
    color: yellowgreen;

}

.parentCardGroup{
    height: 550px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
}

.card.childCardOne{
    width: 55%;
    float: left;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5%;
    padding: 10px;
    border-width: 0px;
    align-self: auto;
}

.card.childCardTwo{
    display: flex;
    width: 55%;
    float: left;
    box-sizing: border-box;
    height: fit-content;
    margin-right: 5px;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 30px;
    color: white;
    border-color: gray;
    background-color: aqua;
    border-width: 0px;
}

.prodName{
    display: flex;
    color: yellowgreen;
    align-self: center;
    font-weight: bold;
}

.prodName1{
    display: flex;
    color: yellowgreen;
    align-self: center;
    font-weight: bold;
}