.navbar_main{
    width: 100%;
    display: flex;
    padding: 10px;
}

.color_nav{
    background-color: rgb(33, 51, 51);
}

.brand_name{
    display: flex;
    color: aliceblue;
    align-items: center;
    text-decoration: none;
}

.brand_name_txt{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    margin-left: 10px;
}

.brand_img{
    width: 45px;
    height: 45px;
    color: yellowgreen;
    margin-left: 15px;
}

.navbar_components{
    display: flex;
    color: antiquewhite;
    margin-left: 10px;

}

.btn{
    padding: 5px;
    color: yellow;
    text-decoration: none;
}